:root {
  --wave: rgba(230, 233, 240, 1);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  max-height: 500px;
}

.wave .shape-fill {
  fill: var(--wave);
}
