@import "/src/components/landing-page/landing-page.css";

#header {
  display: flex;
  justify-content: center;
}

#projects-header {
  margin: clamp(1em, 2em, 3em);
}

#projects {
  display: flex;
  justify-content: space-evenly;
}

#project-1 {
  border-radius: 50%;
  width: clamp(10em, 20em, 30em);
  height: clamp(10em, 20em, 30em);
}

img {
  transition: 0.5s;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background-color: white;
  filter: grayscale(100%);
}
